.race-page {
  font-family: "Bebas Neue", sans-serif;
  background-color: #004267;
  overflow: hidden;
  color: white;
}

.race-details {
  display: grid;
  grid-template-columns: 25% 30% 30%;
  margin-left: 10vh;
  margin-top: 6vw;
  gap: 10vh;
}

.background-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.flag-race-page {
  margin-top: 25px;
  width: 4.5vh;
  height: 3vh;
  border: transparent;
  border-radius: 5px;
}

.country {
  font-weight: 500;
  font-size: 4vh;
  overflow-y: hidden;
  text-align: left;
  text-shadow: #4c7f9c 0px 0px 10px;
  margin-left: 10vh;
}

.city-and-round p {
  margin: 0px;
  line-height: 1.4;
  text-align: left;
  text-shadow: #4c7f9c 0px 0px 10px;
}

.city-name {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 6vh;
  transform: scaleY(1.4);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.round-date {
  font-weight: 500;
  font-size: 3vh;
}

.race-results {
  text-shadow: #4c7f9c 0px 0px 10px;
  text-align: left;
  margin-top: 8vh;
}

.race-results span {
  background-color: #004267;
  padding: 0.5vh;
  display: flex;
  clip-path: polygon(95% 0, 95% 99%, 0% 100%, 10% 0%);
  padding-left: 5vh;
}

.race-results li {
  padding: 0.5vh;
}

.standings {
  text-shadow: #4c7f9c 0px 0px 10px;
  text-align: left;
  margin-top: 8vh;
}

.standings-title {
  font-size: 1.17em;
  font-weight: 100;
  margin-left: 6vh;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.standings span {
  background-color: #0090d0;
  padding: 0.5vh;
  padding-left: 5vh;
  clip-path: polygon(95% 0, 95% 99%, 0% 100%, 10% 0%);
}

.standings li {
  padding: 0.5vh;
}

/* circuit section */

.circuit-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.circuit-map {
  width: 60vw;
}

.circuit-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

.circuit-stats h4 {
  font-family: sans-serif;
  font-size: 1vw;
  font-weight: 600;
}

.circuit-stats h3 {
  font-size: 1.2vw;
  font-weight: 600;
}

.circuit-stats-background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.circuit-section h1 {
  color: white;
  font-size: 4vh;
  font-weight: 100;
  transform: scaleY(0.9);
  text-align: left;
  margin-left: 25vh;
}

.circuit-section h1::after {
  content: "";
  width: 80vh;
  height: 1vh;
  background-color: white;
  position: absolute;
  margin-top: 1.8vh;
  margin-left: 1vh;
  clip-path: polygon(0 0, 100% 0%, 99% 95%, 0% 90%);
}

@media screen and (max-width: 750px) {

  .race-info {
    overflow: hidden;
  }

  .race-details {
    grid-template-columns: 1fr;
    margin-left: 0vh;
    gap: 0vh;
    margin-top: 10px;
    overflow-y: hidden;
  }

  .flag-race-page {
    margin-top: 0px;
    width: 10vw;
    height: 6vw;
  }

  .country {
    font-size: 4.5vw;
    margin-left: 2.5vw;
  }

  .city-name {
    font-size: 7vw;
  }

  .round-date {
    font-size: 4vw;
  }

  .race-results {
    margin-top: 0vw;
    overflow-y: hidden;
  }

  .race-results span {
    padding-left: 4vw;
    font-size: 3vw;
  }

  .race-results li {
    font-size: 3vw;
  }

  .standings {
    margin-top: 0vw;
  }

  .standings-title {
    font-size: 3vw;
    margin-left: 2.5vw;
  }

  .grid {
    grid-template-columns: 30% 40%;
    gap: 0.2rem;
    padding-left: 2vw;
    padding-bottom: 0vw;
    padding-top: 0vw;
  }

  .grid-2 {
    grid-template-columns: 30% 40%;
    gap: 0.2rem;
    padding-left: 2vw;
    padding-bottom: 0vw;
    padding-top: 0vw;
  }

  .standings span {
    padding: 0.5vw;
    padding-left: 4vw;
    font-size: 3vw;
  }

  .standings li {
    padding: 0.5vw;
    font-size: 3vw;
  }

  /* circuit section */

.circuit-details {
  display: grid;
  grid-template-columns: 1fr;
}

.circuit-section h1 {
  color: white;
  font-size: 4vw;
  font-weight: 100;
  transform: scaleY(0.9);
  text-align: left;
  margin-left: 2vw;
}
.circuit-map {
  width: 100vw;
}

.circuit-stats {
  margin-left: 2vh;
}


}
