.header {
    display: flex;
    width: 20%;
    background: #004267;
    overflow: hidden;
    position: relative;
    flex-direction: row;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-right: 5%;
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  }
  

  .background {
    background: #0090D0;
    height: 5%;
    width: 100%;
  }