.results-page {
  background-color: white;
  color: #15151e;
}

.scoreboard-title {
  font-family: "Bebas Neue", sans-serif;
  color: #15151e;
  text-align: left;
  font-size: 6vh;
  font-weight: 100;
  transform: scaleY(0.9);
  text-align: left;
  margin-left: 10vh;
}

.scoreboard-title span {
  color: #0090d0;
  padding-right: 10px;
}

.winners {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 0rem;
  padding-bottom: 5vh;
}

.sprint-race {
  width: 60vh;
}

.sprint-race h4 {
  color: #004267;
  font-family: "Titillium Web";
}

.feature-race h4 {
  color: #004267;
  font-family: "Titillium Web";
}

.feature-race {
  width: 60vh;
}

.driver-profile-info {
  color: #ffffff;
  padding: 0px 20px 5px 30px;
  text-align: left;
  background: #0f4360;
  line-height: 3vh;
}

.driver-profile-info-name {
  font-size: 3.5vh;
  overflow-y: hidden;
}

.driver-profile-info-name span {
  font-size: 2vh;
}

.chevron {
  font-size: 2.8vh;
}

.scoreboard-title::after {
  content: "";
  width: 100vh;
  height: 1.5vh;
  background-color: #0090d0;
  position: absolute;
  margin-top: 2.5vh;
  margin-left: 1vh;
  clip-path: polygon(0 0, 100% 0%, 99% 95%, 0% 90%);
}

.scoreboard-wrapper {
  background-color: #f1f1f1;
}

.scoreboard {
  background-color: white;
  margin: 6vh;
}

.view {
  margin: auto;
}

.wrapper {
  position: relative;
  overflow: auto;
  white-space: nowrap;
}

.scoreboard h2 {
  font-family: "Bebas Neue", sans-serif;
  color: #15151e;
  text-align: left;
  font-size: 5vh;
  font-weight: 100;
  transform: scaleY(0.9);
  text-align: left;
  margin-left: 8vh;
}

.scoreboard h2 span {
  color: #0090d0;
  padding-right: 10px;
}

.driver-results {
  width: 95%;
  margin: 5vh;
  margin-top: 0vh;
  font-family: "Titillium Web";
}

.driver-results td {
  padding: 25px;
  text-align: center;
}

.results:nth-child(odd) {
  background-color: #f2f2f2;
}

.results:hover {
  background-color: #dedddd;
}

.headings:hover {
  background-color: transparent;
}

.sticky-col {
  position: -webkit-sticky;
  position: sticky;
}

.first-col {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #004267;
  color: white;
  clip-path: polygon(250% 0%, 95% 110%, 0% 100%, 25% 0%);
}

.second-col {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #004267;
  color: white;
}

.heading {
  font-family: "Titillium Web";
  font-weight: bold;
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 14px;
  letter-spacing: 0.5px;
  color: #ffffff;
  padding: 7px;
  min-width: 20px;
  position: relative;
  left: 0;
  background-color: #0090d0;
}

.pos {
  color: #0090d0;
}

@media screen and (max-width: 750px) {

  .scoreboard-title {
    font-size: 4vh;
    text-align: center;
    margin-left: 0vh;
  }
  
  .scoreboard-title span {
    padding-right: 10px;
  }

  .winners {
    display: grid;
    grid-template-columns: 1fr;
  }
}